.stats__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .stats__title {
    font-size: 25px;
    font-weight: 500;
    color: #1A56DB;
  }

  .stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}
